body { 
    background: url(https://github.com/kossaloid/TriviaGame/blob/master/assets/images/thumb-1920-433574.png?raw=true) no-repeat center center fixed; 
    
}

header {
    font-size: 40px;
    font-family: 'fantasy';
}

.jumbotron {
    max-width: 760px;
    padding-top: 15px;
    padding-bottom: 15px;

}
